@import '@/assets/css/common.scss';

.menu-container {
  position: relative;
  width: 220px;
  .list {
    box-sizing: border-box;
    margin-top: -50px;
    width: 220px;
    height: 475px;
    border: $border;
    background: #fff;
    color: #646464;
    padding: 0 20px;
    .title {
      box-sizing: border-box;
      height: 50px;
      padding-top: 15px;
      color: $fontColor2;
      font-weight: bold;
    }
    > ul {
      padding: 10px 0;
      li {
        padding: 8px 0;
        font-size: 12px;
      }
    }
  }
  .item-container {
    position: absolute;
    left: 220px;
    top: 60px;
    background: #fff;
    width: 400px;
    height: 415px;
    dl {
      padding: 20px;
      dt {
        font-size: 16px;
        color: $fontColor2;
        padding-bottom: 20px;
        border-bottom: $border;
      }
      dd {
        margin-top: 20px;
        font-size: 12px;
        color: $fontColor9;
        display: inline-block;
        line-height: 20px;
        padding-right: 10px;
      }
    }
  }
}