@import '@/assets/css/common.scss';

.container {
  .username {

  }
  .login {
    color: $hoverColor;
    margin-right: 8px;
  }
  .register {
    &:hover {
      color: $hoverColor;
    }
  }
}