@import '@/assets/css/common.scss';

.geo {
  i {
    margin-right: 4px;
  }
  .changeCity {
    margin: 0 4px;
    &:hover {
      color: $hoverColor;
    }
  }
  .city {
    &:hover {
      color: $hoverColor;
      cursor: pointer;
    }
  }
}