@import '@/assets/css/common.scss';

.container {
  margin-top: 40px;
  .wrapper {
    width: 1200px;
    margin: 0 auto;
    .link {
      box-sizing: border-box;
      height: 600px;
      padding: 20px 0;
      border-top: $border;
      border-bottom: $border;
    }
    .copyright {
      height: 20px;
      padding: 20px 0;
    }
  }
}