@import '@/assets/css/common.scss';

$sliderTopHeight: 240px;
$sliderBottomHeight: 164px;

.container {
  width: 1200px;
  margin: 0 auto;
  .banner {
    .menu {
      float: left;
    }
    
    .slider-top {
      padding: 10px;
      float: left;
      height: $sliderTopHeight;
      position: relative;
      .link {
        position: absolute;
        top: -32px;
        left: 20px;
        > ul {
          > li {
            display: inline-block;
            padding-right: 20px;
            &:nth-child(1), &:nth-child(4), &:nth-child(5) {
              a:hover {
                color: $hoverColor;
              }
            }
            &:nth-child(2), &:nth-child(3), &:nth-child(6) {
              a:hover {
                color: $fontColorRed;
              }
            }
            &:last-child {
              padding-right: 0;
            }
            a {
              color: $fontColor2;
              font-size: 16px;
              font-weight: 700;
            }
          }
        }
      }
      .slider {
        float: left;
        width: 550px;
        height: 100%;
        position: relative;
        // padding: 0 10px;
      }
      .top-pic {
        float: left;
        height: 100%;
        margin: 0 10px;
        img{
          width: 160px;
          height: 100%;
        }
      } 
      .user {
        float: left;
        width: 220px;
        height: 100%;
        text-align: center;
        border: $border;
        box-sizing: border-box;
        padding-top: 30px;
        .avatar img {
          width: 54px;
          height: 54px;
          border-radius: 50%;
        }
        .name {
          margin: 14px 0 20px 0;
          font-size: 14px;
          color: $fontColor2;
        }
        button {
          border: none;
          outline: none;
          display: block;
          margin: 0 auto;
          background: #fff;
          border: $border;
          border-radius: 6px;
          padding: 8px 30px;
          a {
            font-size: 12px;
            color: $fontColor2;
          }
          &:last-child {
            margin-top: 14px;
            background: $hoverColor;
            a {
              color: #fff;
            }
          }
          &:hover {
            opacity: 0.88;
          }
        }
      }
    }
    .slider-bottom {
      float: left;
      height: $sliderBottomHeight;
      .pic {
        float: left;
        height: 100%;
        margin-left: 10px;
        font-size: 0;
        .pic1 {
          margin-right: 10px;
        }
        img {
          width: 270px;
          height: 100%;
        }
      }
      .bottom-pic {
        float: left;
        height: 100%;
        img{
          margin: 0 10px;
          width: 160px;
          height: 100%;
        }
      }
      .qrcode {
        float: left;
        width: 220px;
        height: 100%;
        padding-top: 6px;
        box-sizing: border-box;
        text-align: center;
        border: $border;
        img {
          width: 100px;
          height: 100px;
          margin-top: 6px;
        }
        .app {
          font-size: 16px;
          margin: 2px;
        }
        .tips {
          span {
            font-size: 12px;
            &:first-child{
              color: $fontColorRed;
            }
          }
        }
      }
    }
  }
}